.stuff a {
	display: flex;
	align-items: center;
    text-decoration: none;
	margin-inline: auto;
    font-size: 2rem;
    padding-inline: 2em;
}

#minecraft {
    background-image: url(/assets/images/);
}

#classiccounter {
    background-image: url(/assets/images/);
}