.stuff {
    display: flex;
    flex-direction: column;
}

.stuff p {
    margin: 0;
    font-size: 2rem;
    padding-inline: 2em;
}

.stuff a {
    text-decoration: none;
}

#links {
    background-image: url(/assets/images/1280x720.svg);
    display: flex;
    align-items: center;
}

#blog {
    background-image: url(/assets/images/1280x720.svg);
    display: flex;
    align-items: center;
    justify-content: end;
}

#gallery {
    background-image: url(/assets/images/1280x720.svg);
    display: flex;
    align-items: center;
}

#archive {
    background-image: url(/assets/images/1280x720.svg);
    display: flex;
    align-items: center;
    justify-content: end;
}

.buttons {
    image-rendering: pixelated;
    max-width: 400px;
}

.buttons:hover {
    cursor: pointer;
}