.stuff a {
    font-size: 1.3em;
	display: flex;
	align-items: center;
	text-decoration: none;
    padding-inline: 2em;
}

.stuff p {
	text-align: left;
	margin: 0;
}

#gfdkris {
	flex-direction: column;
	margin-block: 1em;
}

#about {
	background-color: #A673FF;
}

#links {
	background-color: #A673FF;
}

#gallery {
	background-color: #A673FF;
}

#blog {
	background-color: #A673FF;
}

#hideout {
	background-color: #7E56C2;
}

.buttons {
    image-rendering: pixelated;
}

.buttons a:hover {
    cursor: pointer;
}

/* ~ animations ~ */
@keyframes wave {
	0% {
		color: #FDA6BF;
	}

	11.11% {
		color: #FDC3A6;
	}

	22.22% {
		color: #FDEEA6;
	}

	33.33% {
		color: #AAFDA6;
	}

	44.44% {
		color: #A6FDE4;
	}

	55.56% {
		transform: translateY(-8px);
		color: #A6D3FD;
	}

	66.67% {
		color: #A6B9FD;
	}

	77.78% {
		color: #b5a6fd;
	}

	88.89% {
		color: #DCA6FD;
	}

	100% {
		transform: translateY(0);
		color: #FDA6E2;
	}
}

#name.wave {
	display: inline-flex
}

#name h1 {
	margin: 0;
}

#name.wave .letter:where(.wave) {
	animation: 1.5s wave infinite ease-in-out;
	animation-delay: .1s;
}

#name.wave .letter:where(.wave):nth-child(1) {
	animation-delay: .1s;
}

#name.wave .letter:where(.wave):nth-child(2) {
	animation-delay: .2s;
}

#name.wave .letter:where(.wave):nth-child(3) {
	animation-delay: .3s;
}

#name.wave .letter:where(.wave):nth-child(4) {
	animation-delay: .4s;
}

#name.wave .letter:where(.wave):nth-child(5) {
	animation-delay: .5s;
}

#name.wave .letter:where(.wave):nth-child(6) {
	animation-delay: .6s;
}