/* ~ fonts ~ */
@font-face {
	font-family: Renogare;
	src: url("/assets/fonts/Renogare.otf");
}

@font-face {
	font-family: Minecraft;
	src: url("/assets/fonts/Mojangles.woff2");
}

body {
	font-family: Renogare;
	color: #FFFFFF;
	font-size: 1.5rem;
	text-shadow: 0px 3px 0px #000000;
	background: fixed;
	background-color: #A673FF;
	background-image: linear-gradient(to bottom, #A673FF, #DBC7ff);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.alert {
	width: 100%;
	font-size: 1rem;
	background-color: #9567E5;
}

.alert div {
	display: flex;
	margin-block: 5px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 600px;
	min-height: 100vh;
}

p {
	margin: 0px 0px 25px;
}

a {
	color: #FFFFFF;
}

a:hover {
	transition: 0.3s;
	color: #bebebe;
}

h1 {
	font-family: Minecraft;
	margin: 0;
}

.box {
    width: 400px;
    height: 50px;
    transition: 0.3s;
	border: 2px solid #FFFFFF;
	box-shadow: 3px 3px 0px #000000;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
    background-size: cover;
    background-position: center;
}

.box:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

#home {
	display: flex;
	justify-content: center;
    width: 200px;
    height: 30px;
}

/* ~ animations ~ */
@keyframes wave {
	0% {
		transform: translateY(0);
		color: #FFADAD;
	}

	14.29% {
		color: #FFD6A5;
	}

	28.57% {
		color: #FDFFB6;
	}

	42.86% {
		color: #CAFFBF;
	}

	57.14% {
		transform: translateY(-8px);
		color: #9BF6FF;
	}

	71.43% {
		color: #A0C4FF;
	}

	85.71% {
		color: #BDB2FF;
	}

	100% {
		transform: translateY(0);
		color: #FFADAD;
	}
}

#name.wave {
	display: flex
}

#name.wave .letter:where(.wave):nth-child(1) {
	animation: 1.5s wave infinite ease-in-out;
	animation-delay: .1s;
}

#name.wave .letter:where(.wave):nth-child(2) {
	animation: 1.5s wave infinite ease-in-out;
	animation-delay: .2s;
}

#name.wave .letter:where(.wave):nth-child(3) {
	animation: 1.5s wave infinite ease-in-out;
	animation-delay: .3s;
}

#name.wave .letter:where(.wave):nth-child(4) {
	animation: 1.5s wave infinite ease-in-out;
	animation-delay: .4s;
}

#name.wave .letter:where(.wave):nth-child(5) {
	animation: 1.5s wave infinite ease-in-out;
	animation-delay: .5s;
}

#name.wave .letter:where(.wave):nth-child(6) {
	animation: 1.5s wave infinite ease-in-out;
	animation-delay: .6s;
}