:root {
    --pink: #FFACC0;
    --pink-secondary: #E573AC;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background-color: #FFD8E2;
    font-family: Fredoka;
    color: var(--white);
    font-weight: bold;
}

a {
    color: var(--white);
    text-decoration: none;
}

p {
    margin: 0;
}

a:hover {
    color: #FF7A9B;
    text-decoration: underline;
    transition: 0.2s;
}

.content {
    width: 700px;
    margin: auto;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 5px;
    background-color: var(--pink);
    border: var(--white) 1px solid;
}

#header {
    background-position: center;
    background-size: cover;
    height: 150px;
}

#nav {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

#buttons {
    margin-top: 3.8px;
}

/* ~ 404 ~ */

#not_found {
    align-items: center;
    padding-bottom: 20px;
}

#not_found img {
    padding: 20px;
    height: 450px;
}

/* ~ main page ~ */

#about {
    padding-left: 100px;
    padding-right: 70px;
    padding-bottom: 40px;
}

/* ~ faq ~ */

#faq {
    padding-left: 100px;
    padding-right: 70px;
    padding-bottom: 30px;
}

/* ~ tools ~ */

#tools {
    text-align: center;
    padding-bottom: 20px;
}

#sites {
    align-items: center;
    padding: 20px;
}

/* ~ footer ~ */

#gohome {
    text-align: center;
}

#footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 200px;
}

#footer img {
    height: 30px;
}