/* ~ fonts ~ */
@font-face {
	font-family: Renogare;
	src: url("/assets/fonts/Renogare.otf");
}

@font-face {
	font-family: Minecraft;
	src: url("/assets/fonts/Mojangles.woff2");
}

body {
	font-family: Renogare;
	color: #FFFFFF;
	font-size: 1.5rem;
	text-shadow: 0px 3px 0px #000000;
	background: fixed;
	background-color: #A673FF;
	background-image: linear-gradient(to bottom, #A673FF, #DBC7ff);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0;
}

.alert {
	width: 100%;
	font-size: 1rem;
	background-color: #00000020;
}

.alert div {
	display: flex;
	margin-block: 5px;
}

.content {
	max-width: 600px;
	min-height: 100vh;
	margin-inline: 20px;
}

p {
	margin: 0px 0px 25px;
}

a {
	color: #FFFFFF;
}

a:hover {
	transition: 0.3s;
	color: #cccccc;
}

h1 {
	font-family: Minecraft;
	margin: 0;
}

.box {
    max-width: 270px;
    height: 50px;
    transition: 0.3s;
	border: 3px solid #00000050;
	border-radius: 10px;
	margin: 10px;
	padding: 5px;
    background-size: cover;
    background-position: center;
}

.box:hover {
    transition: 0.3s;
    transform: scale(1.1);
	box-shadow: 0px 3px 5px #00000050;
}