/* ~ fonts ~ */
@font-face {
	font-family: Fredoka;
	src: url("/assets/fonts/Fredoka.ttf");
	font-weight: 500;
}

@font-face {
	font-family: Minecraft;
	src: url("/assets/fonts/Minecraft.ttf");
}

/* ~ page ~ */
:root {
    --white: #FFFFFF;
    --black: #000000;
}

body {
    font-family: Fredoka;
    color: var(--white);
    background-image: url(/assets/images/background.png);
    margin: 0;
}

/* ~ text ~ */
h1 {
    font-family: Minecraft;
    margin: 0;
}

h2 {
    font-family: Minecraft;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: #400899;
    text-decoration: underline;
    transition: 0.2s;
}

/* ~ misc ~ */
.heading {
    max-width: 950px;
    margin: auto;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left {
    width: 250px;
}

.middle {
    width: 700px;
}

.right {
    width: 250px;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 5px;
    background-color: #9856FF;
    border: var(--white) 1px solid;
    border-radius: 3px;
}

/* ~ header ~ */
#image {
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
    align-items: flex-end;
    height: 210px;
}

#image a {
    font-size: smaller;
    text-shadow: 1px 1px var(--black);
}

#image :hover {
    font-size: x-large;
    transform: 0.5s;
}

/* ~ navigation ~ */
#nav {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

/* ~ gohome ~ */
#gohome {
    font-size: larger;
    text-align: center;
}

/* ~ footer ~ */
#footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    user-select: none;
    gap: 10px;
    margin-top: 200px;
    margin-bottom: 3px;
}

#footer img {
    height: 30px;
}