.content {
    max-width: 1000px;
}

img {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    height: 200px;
    transition: 0.3s;
}

img:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s;
}