.links a {
    font-size: 1.3em;
	display: flex;
	align-items: center;
    text-decoration: none;
    padding-inline: 2em;
}

.links svg {
    height: 40px;
}

.social {
    margin-left: auto;
    width: 55px;
}

#youtube {
    background-color: #FF0033;
}

#twitch {
    background-color: #9146FF;
}

#bluesky {  
    background-color: #1185FE;
}

#discord {
    background-color: #5865F2;
}

#telegram {
    background-color: #2AABEE;
}

#ko-fi {
    background-color: #FF6433;
}

#github {
    background-color: #232925;
}

#throne {
    background-color: #2E2EE4;
}