    *
    {
        font-family: Fredoka;
        font-weight: normal;
    }

    :root {
        --pink: #FF80C0;
        --pink-secondary: #E573AC;
        --red: #FFADAD;
        --orange: #FFD6A5;
        --yellow: #FDFFB6;
        --green: #CAFFBF;
        --blue: #9BF6FF;
        --blue-secondary: #A0C4FF;
        --purple: #BDB2FF;
        --purple-secondary: #FFC6FF;
        --light: #FFFFFF;
        --Slight: #C0C0C0;
        --dark: #000000;
    }

    body {
        background: var(--light);
        margin: 0;
    }

    .alert {
        padding: 3px;
        background: var(--pink);
        color: var(--light);
        font-size: 15px;
        display: flex;
    }

    a {
        color: var(--dark);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .nav {
        font-size: 20px;
        margin-top: 15px;
        margin-right: 30px;
        text-align: right;
        word-spacing: 25px;
    }

    .content {
        max-width: 500px;
        margin: 20px auto;
    }

    .footer {
        margin-top: 150px;
        word-spacing: 20px;
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }

    .homebutton {
        text-decoration: underline;
        margin-top: 100px;
        font-size: 20px;
        text-align: center;
    }

    .buttons {
        word-spacing: 1px;
    }