*
    {
    font-family: Fredoka;
    }

    body {
    margin: 0;
    }

    .alert {
    padding: 2px;
    background: #FAA0B2;
    color: white;
    font-size: 15px;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .nav {
        font-size: 20px;
        margin-top: 15px;
        margin-right: 30px;
        text-align: right;
        word-spacing: 25px;
    }