    *
    {
        font-family: Fredoka;
        color: var(--dark);
        font-weight: normal;
    }

    :root {
        --pink: #FF80C0;
        --pink-secondary: #E573AC;
        --light: #FFFFFF;
        --Slight: #C0C0C0;
        --dark: #000000;
    }

    body {
        background-color: var(--light);
        margin: 0;
    }

    .alert {
        padding: 3px;
        background: var(--pink);
        color: var(--light);
        font-size: 15px;
        display: flex;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .nav {
        font-size: 20px;
        margin-top: 10px;
        margin-right: 20px;
        text-align: right;
        word-spacing: 20px;
    }

    .content {
        max-width: 500px;
        margin: 20px auto;
        overflow: hidden;
    }

    .footer {
        margin-top: 150px;
        word-spacing: 20px;
        text-align: center;
    }

    .text-left {
        text-align: left;
        overflow: hidden;
    }

    .text-right {
        text-align: right;
        overflow: hidden;
    }

    .text-center {
        text-align: center;
        overflow: hidden;
    }

    .homebutton {
        text-decoration: underline;
        margin-top: 100px;
        font-size: 20px;
        text-align: center;
    }

    .buttons {
        word-spacing: 1px;
    }

    .button {
        border: none;
        padding: 0;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
    }
      
    .button1 {
        background-color: var(--light);
        color: var(--dark);
    }

    .dark-mode {
        --light: #111111;
        --pink: #FFFFFF;
        --pink-secondary: #C0C0C0;
        --dark: #FFFFFF;
    }