#music {
    display: flex;
    justify-content: center;
    max-width: 200px;
    margin-bottom: 20px;
}

#listening {
    width: 150px;
    margin-block: 10px;
}

#listening img {
    width: 150px;
    margin-block: 10px;
    border: #FFFFFF 1px solid;
}

.socials {
    display: flex;
    flex-direction: column;
    font-size: 8mm;
}